In [1]:
import pandas as pd
import numpy as np

C:\Users\dnhor\anaconda3\lib\site-packages\pandas\core\computation\expressions.py:20: UserWarning: Pandas requires version '2.7.3' or newer of 'numexpr' (version '2.7.1' currently installed).
  from pandas.core.computation.check import NUMEXPR_INSTALLED

In [2]:
gss = pd.read_csv('Data/gss18.csv', low_memory=False)

In [3]:
interesting_variables = ['LONELY2', 'SATJOB', 'MOREDAYS', 'WRKHOME', 'HLTHPHYS', 'HLTHMNTL', 'CONWKDAY', 'PARTLSC', 'AGE','MARITAL','INTCNTCT']

# GSS rid of HOMPOP, will HOUSEHOLD SIZE use from AARP
gss = gss[interesting_variables]

In [4]:
# how many nulls?
# Loop through each column
# and check the amount of nulls.
# Only print if there are more than 0.

for col in gss.columns:
    if gss[col].isnull().sum() > 0:
        print(f'{round(gss[col].isnull().sum()/gss.shape[0],3)}%\t{gss[col].isnull().sum()} null values in {col}')

0.503%	1182 null values in LONELY2
0.259%	609 null values in SATJOB
0.403%	947 null values in MOREDAYS
0.396%	930 null values in WRKHOME
0.008%	19 null values in HLTHPHYS
0.008%	19 null values in HLTHMNTL
0.503%	1180 null values in CONWKDAY
0.503%	1182 null values in PARTLSC
0.003%	7 null values in AGE
0.001%	2 null values in MARITAL
0.502%	1179 null values in INTCNTCT

In [5]:
# recode social isolation
gss['is_si'] = gss['LONELY2'].apply(lambda x: 1 if (x == 3 or x == 4 or x == 5) else 0)

In [6]:
# recode marital status to married/not married

gss['marital_cat']= gss['MARITAL'].apply(lambda x: 1 if (x==1) else 0)

In [7]:
gss['SATJOB']= gss['SATJOB'].map({1.0: 4, 2.0: 3, 3.0: 2, 4.0: 1})

In [8]:
gss['HLTHPHYS']= gss['HLTHPHYS'].map({1.0: 5, 2.0: 4, 3.0: 3, 4.0: 2, 5.0: 1})

In [9]:
gss['HLTHMNTL']= gss['HLTHMNTL'].map({1.0: 5, 2.0: 4, 3.0: 3, 4.0: 2, 5.0: 1})

In [10]:
gss['PARTLSC']= gss['PARTLSC'].map({1.0: 5, 2.0: 4, 3.0: 3, 4.0: 2, 5.0: 1})

In [11]:
gss['INTCNTCT']= gss['INTCNTCT'].map({1.0: 6, 2.0: 5, 3.0: 4, 4.0: 3, 5.0: 2, 6.0: 1})

In [12]:
bins = [-1,0,7,14,21,31]

gss['MOREWEEKS'] = pd.cut(gss['MOREDAYS'],bins,labels=['0','1','2','3','4'])
####### Work days ########

In [13]:
bins = [18,29,44,59,89]

gss['Age Group'] = pd.cut(gss['AGE'],bins,labels=[1,2,3,4])
####### Age group ########

In [14]:
#bins= [0,11,12,15,21]

#gss['EDUC'] = pd.cut(gss['EDUC'],bins,labels=[1,2,3,4])#labels=['No HS Diploma','HS Graduate','Some College','BA or Above'])
######## EDUCATION ######

In [15]:
gss = gss.dropna()

In [16]:
gss.to_csv('Data/clean_gss.csv')

In [17]:
pd.set_option('display.max_columns', None)
pd.pivot_table(gss, columns= ['Age Group','SATJOB'], index= 'is_si',aggfunc= 'size')

          SATJOB
Age Group      1               2               3               4
SATJOB       1.0 2.0 3.0 4.0 1.0 2.0 3.0 4.0 1.0 2.0 3.0 4.0 1.0 2.0 3.0 4.0
is_si
0              2  10  42  36   3  14  79  99   5  10  49  95   1   3  15  58
1              3   8  19  11   2  10  27  18   3  10  19  17   1   2   5  13

In [29]:
pd.set_option('display.max_columns', None)
pd.pivot_table(gss, columns= ['Age Group','MOREWEEKS'], index= 'is_si',aggfunc= 'size')

Age Group   1                 2                  3                   4         \
MOREWEEKS   0   1  2   3  4   0   1   2   3  4   0   1   2   3   4   0   1  2
is_si
0          17  54  6  10  3  48  95  16  27  9  35  79  19  11  15  26  35  7
1          14  17  4   4  2  11  31   6   6  3  16  22   4   5   2   6   9  2

Age Group
MOREWEEKS  3  4
is_si
0          2  7
1          2  2