In [2]:
# imports
import pandas as pd

In [3]:
# cols to use
############## ADD TO THIS LIST IF YOU WANT TO ADD MORE ##############
# want to add---
colms = ['PREMPNOT','PEMARITL', 'PRTAGE', 'PTDTRACE', 'HEFAMINC', 'HEHOUSUT', 'GEREG', 'HRHTYPE', 'HRNUMHOU', 'PEEDUCA', 'PEDISOUT', 'PEDISREM', 'PESEX', 't120101', 't120308', 'TRTALONE']

In [16]:
# loading each individual ASUS file (pre converted to parquet)
# and managing some columns we don't need yet in the large ones

df1 = pd.read_csv('Data/ATUS/atusact_2018.csv') # this one is fine

df2 = pd.read_csv('Data/ATUS/atussum_2018.csv') # we need to remove a lot of colms before we merge
# for colm in df2.columns:
#     if 't0' in str(colm) or 't1' in str(colm) or 't5' in str(colm):
#         df2 = df2.drop(columns=colm)
        
df3 = pd.read_csv('Data/ATUS/atuswho_2018.csv') # this one is fine

# this one is like 60mb as a csv so it is a parquet 
df4 = pd.read_parquet('Data/ATUS/atuscps_2018.parquet') # this one... has a lot. Not merging yet
# df4 = df4[['TUCASEID', 'PEEDUCA', 'PEDISOUT', 'PEDISREM', 'PREMPNOT','PEMARITL', 'PRTAGE', 'PTDTRACE']]

df5 = pd.read_csv('Data/ATUS/atusrostec_2018.csv') # this one is fine

df6 = pd.read_csv('Data/ATUS/atusresp_2018.csv') # this one also has a lot. Not merging yet

df7 = pd.read_csv('Data/ATUS/atusrost_2018.csv') # this one is fine

In [9]:
# merging df's

merged_df = df1.merge(df2, on='TUCASEID')#, how='left')
merged_df.drop_duplicates(subset='TUCASEID', inplace=True)

merged_df = merged_df.merge(df3, on='TUCASEID')#, how='left')
merged_df.drop_duplicates(subset='TUCASEID', inplace=True)

merged_df = merged_df.merge(df4, on='TUCASEID')# , how='left')
merged_df.drop_duplicates(subset='TUCASEID', inplace=True)

# merged_df = merged_df.merge(df5, on='TUCASEID')#, how='left')
# merged_df.drop_duplicates(subset='TUCASEID', inplace=True)

merged_df = merged_df.merge(df6, on='TUCASEID')
merged_df.drop_duplicates(subset='TUCASEID', inplace=True)

merged_df = merged_df.merge(df7, on='TUCASEID')#, how='left')
merged_df.drop_duplicates(subset='TUCASEID', inplace=True)

# why must I do df4 again?

merged_df = merged_df.merge(df4[['TUCASEID', 'PEEDUCA', 'PTDTRACE', 'GEREG']], on='TUCASEID')
merged_df.drop_duplicates(subset='TUCASEID', inplace = True)

merged_df = merged_df.merge(df4[['TUCASEID', 'GEREG']], on='TUCASEID')
merged_df.drop_duplicates(subset='TUCASEID', inplace = True)

/var/folders/dl/7fdpm9yx3jj7qxjmtbg0tnwm0000gn/T/ipykernel_7855/3154981231.py:9: FutureWarning: Passing 'suffixes' which cause duplicate columns {'Unnamed: 0_x'} in the result is deprecated and will raise a MergeError in a future version.
  merged_df = merged_df.merge(df4, on='TUCASEID')# , how='left')
/var/folders/dl/7fdpm9yx3jj7qxjmtbg0tnwm0000gn/T/ipykernel_7855/3154981231.py:18: FutureWarning: Passing 'suffixes' which cause duplicate columns {'Unnamed: 0_x', 'TULINENO_x'} in the result is deprecated and will raise a MergeError in a future version.
  merged_df = merged_df.merge(df7, on='TUCASEID')#, how='left')

In [10]:
merged_df.shape

(9593, 1031)

In [11]:
# are we missing any?
# if there is no output then there are no missing variables
for x in colms:
    if x not in merged_df.columns:
        print(x)

In [12]:
# good, let's save as our csv to use
merged_df.to_csv('Data/ATUS/most_ATUS_merged_2018_dupes_dropped.csv')

In [13]:
# checking which files have which vars
var_dict = {'df1': 'The Activity file ',
            'df2': 'The Activity summary file',
            'df3': 'The Who file',
            'df4': 'The ATUS-CPS file',
            'df5': '<not merged> The Eldercare Roster file', 
            'df6': 'The Respondent file',
            'df7': 'The Roster file'}

for x in colms:
    if x in df1:
        print(f'{x} is found in\t' + var_dict['df1'])
    if x in df2:
        print(f'{x} is found in\t' + var_dict['df2'])
    if x in df3:
        print(f'{x} is found in\t' + var_dict['df3'])
    if x in df4:
        print(f'{x} is found in\t' + var_dict['df4'])
    if x in df5:
        print(f'{x} is found in\t' + var_dict['df5'])
    if x in df6:
        print(f'{x} is found in\t' + var_dict['df6'])
    if x in df7:
        print(f'{x} is found in\t' + var_dict['df7'])

PREMPNOT is found in	The ATUS-CPS file
PEMARITL is found in	The ATUS-CPS file
PRTAGE is found in	The ATUS-CPS file
PTDTRACE is found in	The Activity summary file
PTDTRACE is found in	The ATUS-CPS file
HEFAMINC is found in	The ATUS-CPS file
HEHOUSUT is found in	The ATUS-CPS file
GEREG is found in	The ATUS-CPS file
HRHTYPE is found in	The ATUS-CPS file
HRNUMHOU is found in	The ATUS-CPS file
PEEDUCA is found in	The Activity summary file
PEEDUCA is found in	The ATUS-CPS file
PEDISOUT is found in	The ATUS-CPS file
PEDISREM is found in	The ATUS-CPS file
PESEX is found in	The ATUS-CPS file
t120101 is found in	The Activity summary file
t120308 is found in	The Activity summary file
TRTALONE is found in	The Respondent file

In [14]:
df6.head(30)['TRTALONE']

0      572
1      990
2        1
3       47
4      200
5      810
6       45
7      900
8      155
9        0
10     185
11     128
12     895
13      71
14      75
15     368
16     200
17     140
18      60
19     300
20     123
21     210
22     525
23      10
24     405
25    1090
26     316
27     630
28     255
29     240
Name: TRTALONE, dtype: int64